# airvpn credentials
AIRVPN_PORT=your_port_forwarded
AIRVPN_SERVER_COUNTRIES=Country
AIRVPN_SERVER_CITIES=City

# wireguard credentials
WIREGUARD_PRIVATE_KEY=wireguard_private_key
WIREGUARD_PRESHARED_KEY=wireguard_preshared_key
WIREGUARD_ADDRESSES=wireguard_addresses

# openvpn credentials
OPENVPN_USER=your_airvpn_username
OPENVPN_PASSWORD=your_airvpn_password

# nordvpn credentials
NORDVPN_TOKEN=nordvpn_token
WIREGUARD_PRIVATE_KEY=wireguard_private_key
VPN_SERVICE=nordvpn

TIMEZONE=America/New_York
SERVER_NAME=server

PRELOAD_HOST=192.168.0.1
PRELOAD_USER=user
PRELOAD_SSH_KEY=/keys/id_rsa
PRELOAD_REMOTE_DIR=/mnt/plex/movies

POSTFIX_EMAIL=email@gmail.com
POSTFIX_PASSWORD=password
POSTFIX_HOSTNAME=mail.website.com
POSTFIX_ALLOWED_SENDER_DOMAINS=server localhost website.com

RTORRENT_USER=rtorrent_user
RTORRENT_PASS=rtorrent_password
