.env
*.crt
*.dht_cache
*.htpasswd
*.input_history
*.key
*.libtorrent_resume
*.lock
*.log
*.ovpn
*.rtorrent
*.torrent

gluetun/airvpn/*.json
rutorrent/data/geoip/
rutorrent/data/rutorrent/
rutorrent/data/states/*.json
rutorrent/downloads/complete/*
rutorrent/downloads/route23/*
rutorrent/downloads/temp/*
!rutorrent/downloads/complete/.gitkeep
!rutorrent/downloads/route23/.gitkeep
!rutorrent/downloads/temp/.gitkeep
