.env
*.torrent
*.htpasswd
*.rtorrent
*.libtorrent_resume
*.dht_cache
*.input_history
*.lock
*.log

rutorrent/data/geoip/
rutorrent/data/rutorrent/
rutorrent/data/states/*.json
rutorrent/downloads/complete/*
rutorrent/downloads/route23/*
rutorrent/downloads/temp/*
!rutorrent/downloads/complete/.gitkeep
!rutorrent/downloads/route23/.gitkeep
!rutorrent/downloads/temp/.gitkeep
